.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #111;
  color: red;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: red;
  color: white;
}
